.flex-container {
  display: flex;
  margin: 0 auto;
}
body {
  font-size: 12px;
}
header {
  width: 100%;
  height: 5.3em;
  display: flex;
  display: block;
  background-color: white;
}
header .flex-container {
  justify-content: space-between;
  padding-top: 1rem;
}
.logo {
  padding-left: 1.5rem;
  align-items: center;
  display: flex;
}
header .flex-container .logo img {
  height: 6em;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}
.flex-container .logo span {
  color: rgb(1,3,86);
  font-weight: 700;
  font-size: 2rem;
  font-family: Cabin;
  align-content: center;
  padding-left: 0.5rem;
  margin-bottom: 2rem;
  display: inline-flex;
}
.logo p {
  color: rgb(135,206,235);
  display: inline-flex;
  font-size: 2rem;
  font-family: Cabin;
  font-weight: 400;
  margin-bottom: 2rem;
}
.menu span {
  display: flex;
  display: inline-flex;
  padding: 0.5rem;
  color: rgb(66,68,66);
  font-size: 1.2rem;
  font-family: raleway;
  padding-top: 1.2rem;
  padding-right: 1rem;
}
.menu span:hover{
  color: rgb(135,206,235);
}
.banner {
  background-color: rgb(201,244,252);
  width: 100%;
  display: flex;
  margin-top: 2rem;
}
.banner img {
  width: 60%;
  height: 85%;
  padding: 2.6rem 3.3rem 5rem 2rem;
}
.banner-text {
  display: flex;
  flex-direction: column;
  color: rgb(66,68,66);
  text-align: left;
  font-family: cabin;
  justify-content: center;
  padding-right: 3rem;
}
.banner-text h1{
font-size: 4em;
font-weight: bold;
padding-bottom: 2rem;
}
.banner-text h3 {
font-size: 2.7em;
padding-bottom: 2rem;
}
.banner-text p {
font-size: 2em;
background-color: rgb(66,68,66);
color: white;
text-align: center;
padding-top: 0.7rem;
padding-bottom: 0.7rem;
width: 100%

}
.banner-text p:hover {
  background-color: rgb(114,114,112);
  transition-duration: 0.7s;

}
.main {
  width: 100%;
  display:flex;
  margin-top: 5rem;
}
.main-left {
  display: block;
  margin-left: 2rem;
  margin-right: 1.5rem;
  width: 70%;
  font-family: raleway;
  color: rgb(66,68,66);
  text-align: left;
}
.main-left img {
  width: 100%;
  display: block;
  padding-bottom: 3rem;
  padding-right: 2rem;
}
.main-left h1 {
  font-size: 3.5em;
  font-weight: bold;
  padding-bottom: 1rem;
}
.main-left h4 {
  font-size: 1.2rem;
  color: rgb(122,133,135);
  padding-bottom: 1rem;
  line-height: 1.5;
}
.main-left p {
  color: rgb(122,133,135);
  font-size: 1rem;
}
.side-stories {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.orientation {
  display: flex;
}
.orientation:hover {
  background-color: rgb(231,232,229);
  transition-duration: 0.7s;
}
.orientation img {
width: 35%;
height: 35%;
}
.orientation-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: left;
  font-family: raleway;
  padding-left: 1rem;
}
.orientation-text h3 {
  color: rgb(66,68,66);
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 0.5rem;
}
.orientation-text h5 {
  font-size: 1.5em;
  padding-bottom: 0.5rem;
  color: rgb(122,133,135);
}
.orientation-text p {
  font-size: 1.2em;
  padding-top: 0.5rem;
  color: rgb(0,85,244);
}
.campus {
  display: flex;
}
.campus:hover {
  background-color: rgb(231,232,229);
  transition-duration: 0.7s;
}
.campus img {
width: 35%;
height: 35%;
display: inline-block;
}
.campus-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: left;
  font-family: raleway;
  padding-left: 1rem;
}
  .campus-text h3 {
    color: rgb(66,68,66);
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }
  .campus-text h5 {
    font-size: 1.5em;
    padding-bottom: 0.5rem;
    color: rgb(122,133,135);
  }
  .campus-text p {
    font-size: 1.2em;
    padding-top: 0.5rem;
    color: rgb(0,85,244);
  }
  .guest {
    display: flex;
  }
  .guest:hover {
    background-color: rgb(231,232,229);
    transition-duration: 0.7s;
  }
  .guest img {
  width: 35%;
  height: 35%;
  display: inline-block;
  }
  .guest-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: left;
    font-family: raleway;
    padding-left: 1rem;
  }
    .guest-text h3 {
      color: rgb(66,68,66);
      font-size: 2.5em;
      font-weight: bold;
      padding-bottom: 0.5rem;
    }
    .guest-text h5 {
      font-size: 1.5em;
      padding-bottom: 0.5rem;
      color: rgb(122,133,135);
    }
    .guest-text p {
      font-size: 1.2em;
      padding-top: 0.5rem;
      color: rgb(0,85,244);
    }

.classes {
  background-color: rgb(201,244,252);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  width: 100%;

}
.title {
  font-family: cabin;
  font-weight: bold;
  font-size: 3.5em;
  color: rgb(66,68,66);
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
}
.class-blocks {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 2rem;
  justify-content: center;
}

.block {
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  width: 30%;
  display: flex;
  margin: 0 auto;
  margin-top: 1.5rem;
  display: block;
}
.block:hover{
  box-shadow: 0 0 1em gray;
  transition-duration: 0.3s;
}
.block img {
  display: block;
  justify-content: center;
  align-content: center;
  width: 100%;

}
.class-blocks .block {
  justify-content: space-between;
  align-content: space-between;
}
.description {
  background-color: white;
  text-align: left;
  color: rgb(66,68,66);
  font-size: 1.2em;
  font-family: raleway;
  padding: 0.5rem 1rem;
  line-height: 1.5;
}
.description h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(0,34,99);
}
.thesis {
  width: 100%;
  margin: 0 auto;
  display: flex;

}

.thesis-left {
  width: 60%;
  font-family: raleway;
  text-align: left;
  display: block;
}
.thesis-left video {
  width: 100%;
  display: block;
  padding: 1.5rem 3.3rem 1.5rem 2rem;
  justify-content: flex-start;
}

.thesis-left h1 {
  color: rgb(66,68,66);
  font-weight: bold;
  font-size: 2.3em;
  padding-bottom: 0.8rem;
  padding-left: 2rem;
}
.thesis-left p {
  color: rgb(122,133,135);
  font-size: 1.5em;
  line-height: 1.5;
  padding-left: 2rem;
  width: 100%;
}
.thesis-right {
  display: flex;
  width: 35%;
  display: block;
  flex-direction: column;
}
.thesis-right .highlights {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.highlights {
  padding-top:1.4rem;
}
.highlights img {
  margin-left: 4rem;
  width: 35%;
  height: 35%;
  display: flex;
}
.highlights img:hover {
  box-shadow: 0 0 1em gray;
  transition-duration: 0.3s;
}
.thesis-right .highlight-texts {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
}
.highlight-texts {
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  font-family: raleway;
  display: inline-block;

}
.highlight-texts h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5;
  color: rgb(66,68,66);
}
.highlight-texts p {
  font-size: 1rem;
  color: rgb(122,133,135);
}
footer {
  color: rgb(122,133,135);
  font-family: raleway;
  font-weight: lighter;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  margin: 3rem 1rem 0rem 1rem;
  padding: 2rem;
  border-top: solid rgb(122,133,135) 0.5px;
}
